.css-1jj2v7h {
  background-color: "#000" !important;
}

html body div#__gatsby div#gatsby-focus-wrapper div.css-qt7e1u header.css-1jj2v7h a.css-1o3qxty svg{
  fill: rgb(255, 255, 255) !important;
}

html body div#__gatsby div#gatsby-focus-wrapper div.css-qt7e1u header.css-1jj2v7h nav.css-1h0grp7 ul li a.css-1ongf96 {
  color: rgb(255, 255, 255) !important;
}